// Stuff
.form-control {
  display: flex;
  padding: 10px;
}

.cgroup {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

// Hiding the step widget for input[type=number]:
// @see https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input, label {
  height: 2.5rem;
}

input, textarea {
  flex: 1;
  padding: 0 1em;
}

textarea {
  padding: 1em;
}
.checkbox-group {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.checkbox-group .checkbox {
  flex: 1;
  width: 100px;

  // @see https://www.w3docs.com/snippets/css/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers.html
  label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
  input {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }

}

.form-control.invalid {
  input, label, textarea {
    color: red;
    border-style: solid;
    border-color: red;
  }
}
.cgroup.invalid {
  input, h4, label {
    color: red;
    border-style: none;
    border-color: none;

  }
}
